# Node.js
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build
dist/
build/

# Environment
.env
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE/editor
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
*.out
*.pid

# Coverage / Testing
coverage/
.nyc_output/

# Cache
.cache/
.eslintcache
.next/
